.header {
    display: flex;
    align-items: center;
    background-color:rgb(255, 255, 255);
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 80px;
    font-size: large;
}

.header .title-group {
    padding-left: 25px;
    color: rgb(56, 3, 53);
}

.header .title-group i {
    padding-left: 25px;
}